a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease; 
}
a, a:hover {
  text-decoration: none !important; 
}
  
.content {
  height: 70vh; 
}

.footer-20192 {
  margin-top:30vh;
  position: relative;
  padding: 3rem 0 7rem;
  background-color: var(--color-bg-variant); 
}

.footer-20192 .container {
  position: relative; 
}

.footer-20192 h3 {
  font-size: 16px;
  margin-bottom: 10px;
  margin-top: 0;
  line-height: 1.5;
}

.footer-20192 .links li {
  margin-bottom: 10px;
  line-height: 1.5;
  display: block; 
}

.footer-20192 .links li a {
  color: var(--color-bg-light); 
}

.footer-20192 .links li a:hover {
  color: var(--color-bg-white); 
}

.footer-20192 .social li {
  display: inline-block;
  position: relative; 
  padding:3px;
}

.footer-20192 .social li a {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  padding: .7rem;
  margin: 0;
  background-color: var(--color-primary);
  color: #fff; 
}

.footer-20192 .social li a > span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); 
}

.footer-20192 .footer-logo {
  color: var(--color-white);
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: .1rem; 
}

.footer-20192 .copyright {
  color: #666873; 
}

.footer-20192 .cta {
  -webkit-box-shadow: -20px -20px 0 0 rgba(52, 58, 64, 0.2);
  box-shadow: -20px -20px 0 0 rgba(52, 58, 64, 0.2);
  padding: 20px;
  border-radius: 10px;
  background-color: var(--color-primary);
  top: -150px;
  position: relative; 
}

.footer-20192 .cta h2, .footer-20192 .cta h3 {
  line-height: 1.5; 
  color:#fff;
}

.footer-20192 .cta h3 {
  font-size: 20px; 
  color:var(--color-bg-variant);
}

.d-block{
  display:block!important
}

.align-items-center{
  -ms-flex-align:center!important;
  align-items:center!important;
}

.px-5{
  padding-right:3rem!important
}

.mb-0,.my-0{
  margin-bottom:0!important
}

.text-dark{
  color:#343a40!important
}

a.text-dark:focus,a.text-dark:hover{
  color:#121416!important
}

.ml-auto,.mx-auto{
  margin-left:auto!important
}

.py-3{
  padding-top:1rem!important
}

.row{
  display:-ms-flexbox;
  display:flex;
  -ms-flex-wrap:wrap;
  flex-wrap:wrap;
  margin-right:-15px;
  margin-left:-15px
}

.col-sm,.col-md-3{
  max-width:100%;
  position:relative;
  width:100%;
  padding-right:15px;
  padding-left:15px;
}

.list-unstyled{
  padding-left:0;
  list-style:none;
}

.contact-us{
  background: var(--color-bg-variant);
  color: var(--color-white);
}

@media (min-width:576px){
  .col-sm{
    -ms-flex-preferred-size:0;flex-basis:0;-ms-flex-positive:1;flex-grow:1;max-width:100%
  }
  
  .col-md-3{
    -ms-flex:0 0 25%;
    flex:0 0 25%;
    max-width:25%;
  }
}

@media (min-width:768px){
  .d-md-flex{
    display:-ms-flexbox!important;
    display:flex!important;
  }
}

