header{
    height: 110vh;
    padding-top: 2.5rem;
    overflow: hidden;
}
.header__container{
    text-align: center;
    height: 100%;
    position: relative;
}

.cta{
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

.header__socials{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 0;
    bottom: 3rem;
}

.image-contain{
    height: 100%;
    width: 100%;
    position: absolute;
    z-index:1;
}


.me > img{
    margin-top: 3vw;
    margin-left:1rem ;
    transform: scale(2.7);
    transition: transform .4s;
}

.header__socials::after{
    /* content: ""; */
    width: 1px;
    height: 2rem;
    background:var(--color-primary) ;
}
.me{
    padding : 0 !important;
    background:linear-gradient(var(--color-primary),transparent);
    width: 22rem;
    height: 28rem;
    position: absolute;
    left: calc(50% - 11rem);
    margin-top: 4rem;
    border-radius: 12rem 12rem 0 0;
    /* pointer-events: none; */
    padding: 5rem 1.5rem 1.5rem 1.5rem;
}

.image-contain:hover + img{
    transform: scale(3);
}
.scroll__down{
    position: absolute;
    right: -2.3rem;
    bottom: 5rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 0.9rem;
}
.drop-down{
    position:fixed;
    left:50%;
    transform: translateX(-50%);
    min-width: 100px;
    height:40px;
    top:-2.5rem;
    z-index: 2;
    transition:.5s;
}
.show_dropdown{
    top:0;
}
.dropdown__theme{
    width:100%;
    height: 100%;
	border-radius: 0 0 15px 15px;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(15px);
    border: 1px solid var(--color-primary-variant);
}
.drop-down > span {
    margin: auto;
    display: block;
    text-align: center;
    background: rgba(0, 0, 0, 0.3);
    color:#fff;
    backdrop-filter: blur(15px);
	border-radius: 0 0 15px 15px;
    width: 30%; 
    cursor: pointer;
    border-bottom: 1px solid var(--color-primary-variant);
    border-right: 1px solid var(--color-primary-variant);
    border-left: 1px solid var(--color-primary-variant);
}
.dropdown__theme > label {
    margin: 4px auto;
    width:70%;
    height:80%;
    position: relative;
    display: block;
    background: #ebebeb;
    border-radius: 200px;
    box-shadow: inset 0px 5px 15px rgba(0,0,0,0.4), inset 0px -5px 15px rgba(255,255,255,0.4);
    cursor: pointer;
}
.sun{
    transform: scale(0.6);
    width: 50%;
    height: 100%;
    position: absolute;
    z-index: 1;
}
.moon{
    transform: scale(0.6);
    right:0;
    width: 50%;
    height: 100%;
    position: absolute;
    z-index: 1;
}
.dropdown__theme >label:after {
    content: "";
    width:50%;
    height: 100%;
    position: absolute;
    background: linear-gradient(180deg,#ffcc89,#d8860b);
    border-radius: 100%;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
}
.dropdown__theme > input:checked + label {
    background: #242424;
}
.dropdown__theme > input:checked + label:after {
    /* left:100%; */
    transform: translateX(100%);
    background: linear-gradient(180deg,#777,#696969);
}
.dropdown__theme > label, label:after {
    transition: 0.4s
}
.dropdown__theme > input {
    display: none;
}
@media screen and (min-width:2560px) {
    header{
        padding-top: 20vh;
        height: 73vh;
        overflow: visible;
    }
    .header__container{
        width: 80vh;
        transform: scale(1.5);
    }
    .scroll__down{
        bottom: 17vh;
    }
    .header__socials{
        bottom: 15vh;
    }
}
@media screen and (max-width:1025px) {
    header{
        height: 100vh;
    }
}
@media screen and (max-width:768px) {
    .me{
        margin-top: -3rem;
        transform: scale(.65);
    }
}
@media (min-height:800px) and (max-height:1368px) {
    .header__socials{
        bottom: 30%;
    }
    .scroll__down{
        bottom: 35%;
    }   
    header{
        height: 68vh;
    }
}
@media screen and (max-width:600px) {
    .me{
        margin-top: -3rem;
        transform: scale(.65);
    }
    header{
        height: 100vh;
    }
    .header__container{
        margin-top: -3rem;
        transform: scale(.8);
    }
    .header__socials,.scroll__down{
        display: none;
    }
}